.App {
  background-color: cadetblue;
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
}

input {
  padding: 0.6rem;
  width: 45rem;
  border-radius: 0.5rem;
  border: none;
}

button {
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  border: none;
}