.App {
  background-color: cadetblue;
  min-height: 100vh;
  text-align: center;
  padding: 1rem;
}

.dark {
  background-color: black;
  color: white;
}

.light {
  background-color: darkcyan;
  color: black;
}

input {
  padding: 0.6rem;
  width: 45rem;
  border-radius: 0.5rem;
  border: none;
}

button {
  padding: 0.6rem;
  border-radius: 0.5rem;
  margin-left: 2rem;
  border: none;
}

#theme-logo{
  height: 2rem;
  width: 2rem;
  cursor: pointer;
}